body {
  font-family: "Sriracha";
  padding-top: 10%;
  font-size: 25px;
  background-color: RGB(152, 180, 212);
}

h1 {
  padding-bottom: 5%;
  font-size: 45px;
}

#container {
  border: 5px solid white;
  border-radius: 10px;
  margin: auto;
  width: 60%;
  height: 80%;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 3%;
  background-color: RGB(127, 205, 205);
}

#textarea {
  text-align: center;
  width: 70%;
}

#charactersLeft {
  padding-bottom: 5%;
}

#birthday {
  padding-bottom: 5%;
  border-bottom: 3px solid white;
}

#user_email {
  padding-bottom: 4%;
}

#submit-button {
  width: 150px;
  height: 75px;
  font-size: 30px;
}

#months {
  text-align: center;
}

#days {
  text-align: center;
}

#year {
  text-align: center;
}

#name {
  text-align: center;
}

#email {
  text-align: center;
}
